<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kosmo.jobkorea.login.dao.LoginDao">
   
   <!-- 사용자 로그인 체크 -->
   <select id="checkLogin" resultType="String">
      /*kr.kosmo.jobkorea.login.dao.LoginDao.checkLogin*/
            SELECT  user_Type
              FROM    tb_userinfo 
            WHERE   loginID = #{lgn_Id}
               AND  password = #{pwd}
     </select>
     
   <resultMap type="kr.kosmo.jobkorea.login.model.RegisterInfoModel" id="userSelect">
		<result property="name" column="NAME"/>
		<result property="birth" column="M_BIRTH"/>
		<result property="mail" column="M_EMAIL"/>
		<result property="join_date" column="M_REGDATE"/>
		<result property="phone1" column="M_PHONE1"/>
		<result property="phone2" column="M_PHONE2"/>
		<result property="phone3" column="M_PHONE3"/>
		<result property="account" column="M_ACCOUNT"/>
		<result property="mileage" column="M_MILEAGE"/>
		<result property="totalpay" column="M_PAY"/>
		<result property="bkname" column="M_BKNAME"/>
		<result property="status" column="M_STATUS"/>
		<result property="a_id" column="A_ID"/>
		<result property="a_TITLE" column="A_TITLE"/>
		<result property="user_post" column="A_AD1"/>
		<result property="addr" column="A_AD2"/>
		<result property="addr_detail" column="A_AD3"/>
	</resultMap>
   
   
	
   <!-- 사용자 로그인 -->
   <!-- kr.kosmo.jobkorea.login.dao.LoginDao.selectLogin -->
   <select id="selectLogin" resultType="kr.kosmo.jobkorea.login.model.RegisterInfoModel" resultMap="userSelect">
      SELECT  loginID 
      			,PASSWORD
      			,user_type
		      	,A_AD1
				,A_AD2
				,A_AD3
				,A_ID
				,A_TITLE
				,M_ACCOUNT
				,M_BIRTH
				,M_BKNAME
				,M_EMAIL
				,M_MILEAGE
				,M_PAY
				,M_PHONE1
				,M_PHONE2
				,M_PHONE3
				,NAME
      FROM tb_userinfo 
     WHERE loginID = #{loginID}
     AND  password = #{password}
     AND M_STATUS = 'N'
     </select>
     
     
     
     <!-- 사용자 메뉴 권한 -->
    <select id="listUsrMnuAtrt" resultType="kr.kosmo.jobkorea.login.model.UsrMnuAtrtModel">
         /*kr.kosmo.jobkorea.login.dao.LoginDao.listUsrMnuAtrt*/
            SELECT  ta.mnu_id 
                  ,   ta.hir_mnu_id
                  ,   ta.mnu_nm
                  ,   ta.mnu_url
                  ,   ta.mnu_dvs_cod
                  ,   ta.grp_num
                  ,   ta.odr
                  ,   ta.lvl
                  ,   ta.mnu_ico_cod
                  ,   ta.use_poa
                  ,   ta.dlt_poa
               FROM  tm_mnu_mst ta
               WHERE EXISTS (
                             SELECT  1
                             FROM  tn_usr_mnu_atrt tb
                             WHERE ta.mnu_id = tb.mnu_id
                                  AND tb.user_type = #{userType}
                           )
                  AND ta.lvl=0
               ORDER BY ta.odr
     </select>
     
     <!-- 사용자 자식 메뉴 권한 -->
   <select id="listUsrChildMnuAtrt" resultType="kr.kosmo.jobkorea.login.model.UsrMnuChildAtrtModel">
      /*kr.kosmo.jobkorea.login.dao.LoginDao.listUsrChildMnuAtrt*/
         SELECT  ta.mnu_id
               ,   ta.hir_mnu_id
               ,   ta.mnu_nm
               ,   ta.mnu_url
               ,   ta.mnu_dvs_cod
               ,   ta.grp_num
               ,   ta.odr
               ,   ta.lvl
               ,   ta.use_poa
               ,   ta.dlt_poa
         FROM  tm_mnu_mst ta
         WHERE EXISTS (
                          SELECT  1
                            FROM  tn_usr_mnu_atrt tb
                          WHERE ta.mnu_id = tb.mnu_id
                               AND tb.user_type = #{userType}
                     )
            AND ta.lvl=1
            AND hir_mnu_id = #{hir_mnu_id}
         ORDER BY ta.odr
     </select>
      
     <!-- 사용자 PW 찾기 -->
   <select id="selectFindPw" resultType="kr.kosmo.jobkorea.login.model.RegisterInfoModel">
      /*kr.kosmo.jobkorea.login.dao.LoginDao.selectFindPw*/
      SELECT  ta.lgn_id
      , ta.pwd
      , tb.cpn_ctr
      , tb.cpn_1
      , tb.cpn_2
      , tb.cpn_3
      , tb.eml
      FROM   tm_usr_mst ta
         ,   tn_usr_dtl_info tb
      WHERE   ta.usr_sst_id = tb.usr_sst_id
      AND   ta.use_poa = 'Y'
      AND   ta.dlt_poa = 'N'
      <choose>
         <when test ="(type != null) and (type eq 'P'.toString())">
            AND ta.lgn_id = #{lgn_id}
            AND   ta.usr_nm = #{usr_nm}
            AND tb.cpn_ctr = #{cpn_ctr}
            AND tb.cpn_1 = #{cpn_1}
            AND tb.cpn_2 = #{cpn_2}
            AND tb.cpn_3 = #{cpn_3}
         </when>
         <when test ="(type != null) and (type eq 'E'.toString())">
            AND ta.lgn_id = #{lgn_id}
            AND   ta.usr_nm = #{usr_nm}
            AND tb.eml = #{eml}
         </when>
         <otherwise>
            AND 1=2
         </otherwise>
      </choose>
     </select>
      
	<!--  ID 찾기 -->
	<select id="find_id" parameterType="String" resultType="String">
		SELECT loginID 
		  FROM tb_userinfo
		 WHERE M_EMAIL =  #{mail}
		 AND NAME = #{NAME}
   </select>
   
   <!-- 이메일 유무 확인 ID 찾기 -->
   <select id="findIE" resultType="kr.kosmo.jobkorea.login.model.RegisterInfoModel">
		SELECT M_EMAIL, loginID
		  FROM tb_userinfo 
		 WHERE loginID = #{loginID} AND M_EMAIL = #{mail}
   </select>
   
  <!--  비밀번호 재발급 -->
	<update id="findPassUpdate" parameterType="java.util.Map">
		UPDATE tb_userinfo
		   SET password = #{pwd}
		 WHERE loginID  = #{loginID}
	</update> 
	
</mapper>