<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.kosmo.jobkorea.login.dao.RegisterDao">

    <!-- 회원 가입  -->
	<insert id="aregister">
		insert into tb_userinfo (
		   loginID
		    ,NAME
		    ,password
		    ,M_BIRTH
		    ,M_ACCOUNT
		    ,M_BKNAME
		    ,M_EMAIL
		    ,M_REGDATE
		    ,M_PHONE1
		    ,M_PHONE2
		    ,M_PHONE3
		    ,A_AD1
			,A_AD2
			,A_AD3
			,A_TITLE
		) values (
		   #{loginID} 
		  ,#{name}
		  ,#{password} 
		  ,STR_TO_DATE(#{birth}, '%Y%m%d') 
		  ,#{account} 
		  ,#{bkname}  
		  ,#{mail}  
		  ,now()
		  ,#{phone1}
		  ,#{phone2}
		  ,#{phone3}
		  ,#{user_post}
		  ,#{addr}
		  ,#{addr_detail}
		  ,#{A_TITLE}
		  
		)
	</insert>
	
	<!-- 주소록 등록  -->
    <insert id="aregister2">
		insert into ADDRESS (
		    A_AD1
		    ,A_AD2
		    ,A_AD3
		    ,A_TITLE
		    ,loginID
		 ) VALUES (
		   #{user_post}
		   ,#{addr}
		   ,#{addr_detail}
		   ,#{A_TITLE}
		   , #{loginID} 
		  )
	</insert>
	
   <!-- id 중복체크-->
   <select id="id_check" resultType="kr.kosmo.jobkorea.login.model.RegisterInfoModel">
      SELECT  COUNT(loginID) AS che
        FROM  tb_userinfo 
       WHERE  loginID = #{loginID}
       AND M_STATUS = 'N'
    </select> 
    
   <!-- email 중복체크-->
   <select id="email_check" resultType="kr.kosmo.jobkorea.login.model.RegisterInfoModel">
      SELECT  COUNT(M_EMAIL) AS che
        FROM  tb_userinfo 
       WHERE  M_EMAIL = #{mail} AND M_STATUS = 'N'
    </select> 
    
    
</mapper>