<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kosmo.jobkorea.book.dao.bookDao">

	<!--카테고리 리스트 -->
	<select id="cateList" resultType="kr.kosmo.jobkorea.book.model.CategoryModel">
		SELECT * FROM CATEGORY 
		<where>
		<if test="(level!= null) and (!level.equals(''))"> 
		level=#{level}
		</if>
		<if test="(cateClass != null) and (!cateClass.equals(''))">
		and cateClass=#{cateClass}
		</if>
		</where>
	</select>

	

<!-- 상품 검색 sql -->
	<sql id="search">
		<where>
			display ='y' and sellState='y'
		<if test="(serviceType != null) and (!serviceType.equals(''))">	
			and serviceType=#{serviceType}
		</if>	
		<choose>	
		<when test="(cateClass != null) and (!cateClass.equals(''))">
			and categoryId like CONCAT(#{cateClass}, '__')
		</when>	
		<when test="(cateId != null) and (!cateId.equals(''))">
			and categoryId=#{cateId}
		</when>
		</choose>
		<if test="(searchKey != null) and (!searchKey.equals(''))">
		and
			<choose>
				<when test="(searchType != null) and (searchType eq 'all'.toString())">
					(
					b.P_ID = #{searchKey } or
					title Like CONCAT('%', #{searchKey }, '%') 
					)
				</when>
				<when test="(searchType != null) and (searchType eq 'title'.toString())">
					title Like CONCAT('%', #{searchKey }, '%') 
				</when>
				<when test="(searchType != null) and (searchType eq 'P_ID'.toString())">
					b.P_ID = #{searchKey }
				</when>
			</choose>	
		</if>
		</where>
	</sql>

	<!-- 상품 리스트 -->
	<select id="goodsList" resultType="kr.kosmo.jobkorea.book.model.BookModel">
		SELECT b.P_ID as pId,itemId,title, description, translator,
		author,coverLargeUrl, categoryId, categoryName,
		publisher, sellCount, stock, 
		saleRate, salePrice,realPrice, 
		regDate, sellState,serviceType,mileage,
		display,
		DATE_FORMAT(sellStart, '%Y.%m.%d %h:%m') as sellStart, DATE_FORMAT(sellEnd, '%Y.%m.%d
		%h:%m') as sellEnd,
		ROUND(avg(rStar),1) as rStar,count(rId) as rCount
		FROM BOOK_GOODS b
		left join REVIEW r
		on b.P_ID = r.P_ID
		<include refid="search"/>
		group by b.P_ID
		<if test="(sort != null) and (!sort.equals(''))">
			order by ${sort}
		</if>
		<if test="(pageIndex != null) and (!pageIndex.equals('')) and (pageSize != null) and (!pageSize.equals(''))">
			LIMIT #{pageIndex}, #{pageSize}
		</if>
	</select>
	
	<!-- 상품 갯수 -->
	<select id="goodsCount" resultType="Integer">
		SELECT count(P_ID) FROM BOOK_GOODS b
		<include refid="search"/>
	</select>
	
	<!-- 상품 상세보기  -->
	
	<select id="goodsDetail" resultType="kr.kosmo.jobkorea.book.model.BookModel">
		select  b.P_ID as pId, itemId, isbn, title, description, translator, author, priceStandard, 
		coverSmallUrl, coverLargeUrl, categoryId, categoryName, publisher, pubDate, 
		`index`, authorInfo, sellCount, stock, saleRate, salePrice, realPrice, regDate, 
		sellState, display,file_nm, file_loc, file_size ,
		serviceType,mileage,mileageRate,
		DATE_FORMAT(sellStart, '%Y/%m/%d') as sellStart,DATE_FORMAT(sellEnd, '%Y/%m/%d') as sellEnd, 
		ROUND(avg(rStar),1) as rStar,count(rId) as rCount
		FROM BOOK_GOODS b
		left join REVIEW r
		on b.P_ID = r.P_ID 
		where b.P_ID=#{pId}
		group by b.P_ID
	</select>
	
	
	<!--연관 상품보기  -->
	<select id="relateGoods" resultType="kr.kosmo.jobkorea.book.model.BookModel">
				SELECT *
				FROM (
				SELECT P_ID as pId,title,coverLargeUrl,realPrice, saleRate FROM `BOOK_GOODS`
				<where>
				<choose>
				<when test="(cateClass != null) and (!cateClass.equals(''))">
					categoryId like CONCAT(#{cateClass}, '__') 
			    </when>
			    <when test="(cateClass == null) or (cateClass.equals(''))">
			    	categoryId=#{categoryId}
			    </when>	
			    </choose>
			    </where>
			    ORDER BY sellCount desc     
			    LIMIT 12
			) as A 
			ORDER BY rand()
	</select>
	
	<select id="limitGoods" resultType="kr.kosmo.jobkorea.book.model.BookModel">
	 SELECT * FROM 
	     ( SELECT P_ID as pId,title,coverLargeUrl,realPrice, saleRate,sellStart,sellEnd,description 
	     FROM `BOOK_GOODS` 
	     WHERE sellState='y' and sellEnd is not null 
	     ORDER BY sellEnd 
	     LIMIT 12 ) 
	     as A ORDER BY rand() LIMIT 1 
	</select>
				

	<!-- ahn -->
	<select id="bookInfo" resultType="kr.kosmo.jobkorea.book.model.BookModel">
		SELECT IFNULL(mileage, 0) AS mileage
			, title
			, IFNULL(realPrice,0) AS realPrice
			, coverLargeUrl
			, P_ID AS pId
			, itemId
		FROM BOOK_GOODS
		WHERE P_ID = #{pId}
	</select>
	
	<insert id="cartAdd" parameterType="kr.kosmo.jobkorea.book.model.BookModel">
		INSERT INTO CART
		(
			BOOK_NAME, CART_STOCK, CART_PRICE, CART_REG_DT, ORDER_YN, loginID, CART_IMG, MILEAGE, P_ID
		)
		VALUES
		(
			#{title},#{stock},#{realPrice},NOW(),'N',#{loginID},#{coverLargeUrl},#{mileage},#{pId}
		)
	</insert>
	
	<select id="cartInfo" resultType="String" parameterType="kr.kosmo.jobkorea.book.model.BookModel">
		SELECT BOOK_NAME AS title
		FROM CART
		WHERE P_ID = #{pId}
		AND ORDER_YN NOT IN ('Y','C')
		AND loginID = #{loginID}
	</select>
	
</mapper>