<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kosmo.jobkorea.book.dao.reviewDao">

<!-- 리뷰 -->
	<insert id="reviewReg">
		insert into REVIEW(P_ID,loginID,rStar,rTitle,rContent,rDate) 
		values(#{pId},#{loginId},#{rStar},#{rTitle},#{rContent},now())
	</insert>
	
	<select id="reviewList" resultType="kr.kosmo.jobkorea.book.model.reviewModel">
		select rId, 
		P_ID as pId, 
		loginID, 
		rStar, 
		`rLike`, 
		rTitle, 
		rContent,
		DATE_FORMAT(rDate, '%Y-%m-%d') as rDate 
		from REVIEW 
		where P_ID=#{pId}
		LIMIT #{pageIndex}, #{pageSize} 
	</select>
	
	<select id="reviewCount" resultType="Integer">
		select count(rId) from REVIEW
		where P_ID=#{pId}
	</select>
	
	
	<delete id="reviewDel">
		delete * from REVIEW where P_ID=#{pId}
	</delete>
	
	
	<!--좋아요  -->
	<update id="reviewLike">
		update REVIEW 
		SET `rLike`=`rLike`${like}
		where rId=#{rId}
	</update>

</mapper>