@CHARSET "UTF-8";

a, h3,h5 { margin: 0; padding:0; text-decoration: none;}
ul, li { margin:0; padding:0; list-style: none;}
input, label {margin:0; padding:0;}

label {
	margin-bottom: 0px;
}
.container > .edit-seat{
	padding: 10px 20px;
	display: flex;
	height: 700px;
	width: 100%;
}
.container > .edit-seat > .seats {
	flex: 7;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
}
.container > .edit-seat > .edit {
	flex:3;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 10px;
}
table th {
	height: 24px;
	text-align: center;
	line-height: 24px;
	border: 1px solid #999;
}
table td {
	padding: 3px;
}
.edit .search-prfs {
	margin-bottom: 15px;
}
.search-result {
	padding: 8px;
	background: #fff;
}
.search-result table {
	width: 100%;

}
.seats .contents table {
	
}
.seats .contents table td {
	border: 1px solid #333;
	border-collapse: collapse;
	width: 22px;
	height: 22px;

}
.seats .contents .current {
	background: #green;
	border: 2px solid #000;
}

.tooltip:hover {
	visibility: visible;
}
