<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kosmo.jobkorea.event.dao.eventDao">

	<!--카테고리 리스트 -->
	<select id="cateList" resultType="kr.kosmo.jobkorea.event.model.CategoryModel">
		
		SELECT categoryName
		FROM   CATEGORY
		WHERE  categoryId = 999
		UNION ALL
		SELECT categoryName
		FROM   CATEGORY
		WHERE  categoryName IN (SELECT categoryName
		                        FROM   CATEGORY
		                        WHERE  categoryId IN ( 205, 119, 217, 211, 400 )
		                        ORDER  BY Binary(categoryId)) 
	</select>
	
	<select id="eventList" resultType="kr.kosmo.jobkorea.event.model.EventModel"  parameterType="String">
		select * from EVENT where e_title = #{e_title}
	</select>	
	
	<select id="listAll" resultType="kr.kosmo.jobkorea.event.model.EventModel">
		select * from EVENT ORDER BY Binary(e_title)
	</select>
	
	<select id="eventDetail" resultType="kr.kosmo.jobkorea.event.model.EventModel"  parameterType="int">
		select * from EVENT where e_id = #{e_id} GROUP BY e_id
	</select>
	
	<!-- 상품 검색 sql -->
	<sql id="search">
		<where>
			display ='y' and sellState='y'
		<choose>	
		<when test="(cateClass != null) and (!cateClass.equals(''))">
			and categoryId like CONCAT(#{cateClass}, '__')
		</when>	
		<when test="(cateId != null) and (!cateId.equals(''))">
			and categoryId=#{cateId}
		</when>
		</choose>
		<if test="(searchKey != null) and (!searchKey.equals(''))">
		and
			<choose>
				<when test="(searchType != null) and (searchType eq 'all'.toString())">
					(
					b.P_ID = #{searchKey } or
					title Like CONCAT('%', #{searchKey }, '%') 
					)
				</when>
				<when test="(searchType != null) and (searchType eq 'title'.toString())">
					title Like CONCAT('%', #{searchKey }, '%') 
				</when>
				<when test="(searchType != null) and (searchType eq 'P_ID'.toString())">
					b.P_ID = #{searchKey }
				</when>
			</choose>	
		</if>
		</where>
	</sql>
	
	<!-- 상품 갯수 -->
	<select id="eventCount" resultType="Integer">
		SELECT count(P_ID) FROM BOOK_GOODS b
		<include refid="search"/>
	</select>

	


	
</mapper>