.col-sm-4,.col-sm-6{
	margin: 5px 0 5px 0; 
}

.col-sm-4{
	width:0px;
}

 thead{
background-color:rgb(255, 204, 0); 
} 


.input-group {
	width:500px;
}
.textarea{
	height:150px;
}

.input-group-text{
	width:110px;
}

.select_img{
	margin: 20px;
}


.catagory-name {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space:normal;
  width:270px;
  height:30px;
}

.author{
  overflow:hidden;
  text-overflow: ellipsis;
   white-space:nowrap;
  font-size: 14px;
}

.card-header{
	background-color:#e6b800 !important;
	
}

.card-header h5{
	color:white;
	font-weight: bolder;
}


.list-group-item:hover{ color:#e6b800; }


input[readonly]{
    background-color: yellow;
}


.sSelect{
	width:150px;
	display:inline !important;
} 

.sInput{
	width:300px;
	display:inline !important;
} 


.sBtn{
	width:150px;
	height:35px;
	color:white;
	background-color:#e6b800;
}